body{
    margin: 50px;
    background: linear-gradient(90deg, rgb(230, 85, 255),rgb(139, 0, 174), rgb(3, 250, 254));
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  h1 {
    margin: 20px;
    font-size: 6rem;
    color: white;
    text-align: center;
    /* font-weight: ; */
}

h3 {
    margin: 20px;
    font-size: 6rem;
    color: white;
    text-align: center;
}

.box{
    background-color: rgb(103, 214, 239);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    min-height: 200px;
    /* max-width: 100px; */
}

#addBtn{
    color: gray;
    font-weight: 1000;
}

#addBtn:hover{
    background-color: rgb(254, 255, 173);
    font-weight: bold;
}

/* test */
.myDiv{
	display:none;
    padding:10px;
    margin-top:20px;
}  
#showGrocery{
    border:1px solid red;
}
#showChores{
    border:1px solid green;
}
#showSchool{
    border:1px solid blue;
}
#showPets{
    border:1px solid blue;
}
#showWork{
    border:1px solid blue;
}